{% extends 'base.html' %}
{% load static %}

{% block title %}Password reset | EasyReq{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <div class="wrapper">
        <div class="text-section">
            <h1>Forgot Your<br>Password?</h1>
            <p>
                We’ll send you a link to reset it.<br>
                Be sure to check your Spam folder too!
            </p>
        </div>

        <form method="post">
            {% csrf_token %}
            <div class="input-box">
                <input type="email" id="email" name="email" placeholder="example@gmail.com" required>
            </div>
            <input class="btn" type="Submit" value="Send">
            <div class="bottom-links">
                <a href="{% url 'login' %}" > Return to login page </a>
            </div>
        </form>
    </div>
{% endblock %}

