{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <div class="wrapper">
        <div class="text-section">
            <h3>מייל איפוס נשלח בהצלחה <i class='bx bx-mail-send'></i></h3><br>
            <p> אם אתה לא רואה את המייל,<br> בדוק את תיבת הספאם <br>

            <div class="bottom-links">
                <a href="{% url 'login' %}" > חזרה לעמוד התחברות </a>
            </div>
        </div>

    </div>
{% endblock %}


