{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <div class="wrapper">
        <h3>Password reset</h3>
            <br>
            <form method="post">
                {% csrf_token %}
                <!-- {{form}} -->

                <div class="input-box">
                    <input type="password"
                    name="new_password1"
                    id="new_password1"
                    placeholder="New Password" required>
                    <i class='bx bxs-show' id="toggle-new-password1"></i>
                </div>

                <div class="password-requirements">
                    <p>The password must include:</p>
                    <ul>
                    <li id="length">At least 8 characters</li>
                    <li id="uppercase">Capital letter (A-Z)</li>
                    <li id="lowercase">Small letter (a-z)</li>
                    <li id="number">number (0-9)</li>
                    <li id="special">special character (!@#$%^&*)</li>
                    </ul>
                </div>
                <div class="input-box">
                    <input type="password"
                    name="new_password2"
                    placeholder="Password Confirmation" required>
                </div>
                <span id="reset-password-match-error" class="error-message" style="display: none;">The passwords do not match</span>

                <input class="btn" type = "submit" name ="Update Password" value = "Update">
            </form>
    </div>
    <script src="{% static 'js/password_validation.js' %}"></script>
{% endblock %}
