{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <div class="wrapper">
        <div class="text-section">
            <h3>Mail sent successfully <i class='bx bx-mail-send'></i></h3><br>
            <p> If you didn't receive and email,<br> check your spam folder <br>

            <div class="bottom-links">
                <a href="{% url 'login' %}" > Return to login page </a>
            </div>
        </div>

    </div>
{% endblock %}


