{% extends 'base.html' %}
{% load static %}

{% block title %}Password reset | EasyReq{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <div class="wrapper">
        <div class="text-section">
            <h1>שכחת<br>?סיסמה</h1>
            <p>
                .נשלח לך לינק לאיפוס סיסמה למייל<br>
                !שים לב לתיבת הספאם
            </p>
        </div>

        <form method="post">
            {% csrf_token %}
            <div class="input-box">
                <input type="email" id="email" name="email" placeholder="SCE מייל" required>
            </div>
            <input class="btn" type="Submit" value="שלח">
            <div class="bottom-links">
                <a href="{% url 'login' %}" > חזרה לעמוד התחברות </a>
            </div>
        </form>
    </div>
{% endblock %}

